.flex-box {
  display: flex;
  &.col {
    flex-direction: column;
    justify-content: space-between;
  }
  &.row {
    justify-content: space-around;
  }
}

.japan-table {
  align-items: stretch;
}

.descr-wrapper {
  flex-grow: 2;
}

button {
  width: 100%;
}

.down {
  color: blue;
  button {
    color: blue
  }
}

.up {
  color: red;
  button {
    color: red
  }
}