.japan-ui {
  font-family: roboto, sans-serif;
  font-size: 14px;
  .flex-box {
    display: flex;
    &.rows {
      flex-direction: column;
    }
    &.cols {
      flex-direction: row;
    }
    @media screen and (max-width: 620px) {
      &.japan-table {
        flex-direction: column;
      }
    }
  }
  
  .japan-table {
    align-items: stretch;
  }
  .descr-wrapper {
    align-items: center;
  }
  .buy-prices,
  .sell-prices,
  .barriers {
    flex-grow: 2;
    white-space: nowrap;
    .row {
      padding: 0 5px;
      line-height: 34px;
      min-height: 34px;
      padding: 3px 0;
      text-align: center;
      &:nth-child(even) {
        background: #F2F2F2;
      }
    }
  }
  .price-wrapper {
    padding-right: 20px;
  }
  .descr-wrapper {
    flex-grow: 2;
  }
  .price-button {
    width: 120px;
    color: #FFF;
    text-align: center;
    line-height: 100%;
    background: #2E8836;
    border-radius: 3px;
    padding: 10px 0;
    cursor: pointer;
    font-size: 14px;
    border: 0;
  }
  .inactive {
    color: grey;
    &.price-button {
      color: #FFF;
      opacity: 0.5;
      background: grey;
      cursor: default;
    }
  }
  .down {
    // color: #29abe2;
    .price-button {
      // color: #C7CDFF
    }
  }
  .up {
    // color: #c03;
    .price-button {
      // color: #FFB3B3;
    }
  }
  .inactive {
    // color: #FFF;
  }
  .heading {
    font-weight: bold;
  }
  .descr-wrapper {
    .descr {
      padding: 10px;
      font-size: 16px;
    }
  }
  .details-heading {
    padding-top: 40px;
    background-repeat: no-repeat;
    background-position: top center;
    font-size: 18px;
    min-width: 80px;
    max-width: 80px;
    text-align: center;
    align-self: flex-start;
    &.CALLE {
      background-image: url('https://www.binary.com/images/pages/trade/rise_1.png')
    }
    &.PUT {
      background-image: url('https://www.binary.com/images/pages/trade/fall_1.png')
    }
    &.ONETOUCH {
      background-image: url('https://www.binary.com/images/pages/trade/touch_1.png')
    }
    &.NOTOUCH {
      background-image: url('https://www.binary.com/images/pages/trade/no-touch_1.png')
    }
    &.EXPIRYRANGEE {
      background-image: url('https://www.binary.com/images/pages/trade/ends-between_1.png')
    }
    &.EXPIRYMISS {
      background-image: url('https://www.binary.com/images/pages/trade/ends-outside_1.png')
    }
    &.RANGE {
      background-image: url('https://www.binary.com/images/pages/trade/stay-in-between_1.png')
    }
    &.UPORDOWN {
      background-image: url('https://www.binary.com/images/pages/trade/stay-out_1.png')
    }
  }
  .price-wrapper,
  .price-button {
    position: relative;
    .dynamics {
      position: absolute;
    }
  }
  .select{
    margin-right: 10px;
    margin-bottom: 10px;
    height: 30px;
    line-height: 30px;
  }
}
